<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PagoEfectivoAPIEndpoint" value="https://pre1a.services.pagoefectivo.pe/"/>
    <add key="SecretKey" value="MsB3V0seHJY2gcdly7LsNVtXJF+QLGO+l/Oc8z4j"/>
    <add key="AccessKey" value="OTc0NDNiODY0M2VmNzk5"/>
    <add key="IdService" value="1158"/>
  </appSettings>
</configuration>